/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 16, ../scss/site.scss */
html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* line 26, ../scss/site.scss */
#social-bar {
  position: fixed;
  top: 70px;
  left: 10px;
  z-index: 50;
}
/* line 33, ../scss/site.scss */
#social-bar #fb-login-button {
  color: white;
  -moz-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.15);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  left: 0px;
  right: 0px;
  width: 150px;
  z-index: 1;
  padding: 5px;
  border: 5px;
}

/* line 50, ../scss/site.scss */
#overlay {
  background: white;
  display: none;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 63, ../scss/site.scss */
#overlay h1 {
  display: block;
  font-size: 2em;
  margin-top: 1.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
/* line 73, ../scss/site.scss */
#overlay .adtag {
  background-color: #efc439;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 0 2px;
  line-height: 14px;
  vertical-align: baseline;
}

/* line 88, ../scss/site.scss */
.controls {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-top: 10px;
  border: 1px solid transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* line 99, ../scss/site.scss */
#geo-input {
  color: #CD68FF;
  background-color: #fff;
  font-size: 27px;
  margin: 0;
  padding: 0px 0px 0px 1.5px;
  height: 28px;
  width: 28px;
  margin-right: 10px;
}
/* line 109, ../scss/site.scss */
#geo-input :hover {
  color: #B650FF;
}
/* line 113, ../scss/site.scss */
#geo-input :focus {
  border-color: #4d90fe;
}

/* line 118, ../scss/site.scss */
#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 18pt;
  font-weight: 300;
  line-height: 36pt;
  margin-left: 12px;
  padding: 10px 11px 0 13px;
  text-overflow: ellipsis;
  height: 2em;
  width: 450px;
  max-width: 90%;
}
/* line 131, ../scss/site.scss */
#pac-input :focus {
  border-color: #4d90fe;
}

/* line 136, ../scss/site.scss */
.pac-container {
  font-family: Roboto;
}

/* line 140, ../scss/site.scss */
#bolt-button {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

/* line 146, ../scss/site.scss */
.route {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 149, ../scss/site.scss */
.route .bolt-button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #4d90fe;
  padding: 5px;
  font-size: 13pt;
}
/* line 157, ../scss/site.scss */
.route .route-address {
  padding: 5px;
}

/* line 162, ../scss/site.scss */
.labels {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: black;
  background-color: white;
  font: bold 15px "Lucida Grande", "Arial", sans-serif;
  text-align: center;
  white-space: nowrap;
  border: 8px solid white;
}

/* line 175, ../scss/site.scss */
#sidebar {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 10px 11px 3px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 10px 11px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 10px 11px 3px 0px rgba(0, 0, 0, 0.4);
  background: #FFF;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 1000;
  width: 300px;
}
/* line 186, ../scss/site.scss */
#sidebar header {
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  background: #F9CE4E;
  height: 90px;
  color: #FFF;
  padding: 15px;
  border-bottom: 1px solid #eab914;
  position: relative;
}
/* line 195, ../scss/site.scss */
#sidebar header .icon-medium {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 100px;
  height: 100px;
}
/* line 202, ../scss/site.scss */
#sidebar header h1 {
  position: absolute;
  bottom: 22px;
  right: 60px;
  font-size: 26px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 30 px;
  text-align: center;
  margin: 0px auto;
  color: #b38302;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}
/* line 214, ../scss/site.scss */
#sidebar header h2 {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  right: 10px;
  z-index: 1;
}
/* line 222, ../scss/site.scss */
#sidebar header h2 strong {
  font-weight: bold;
}
/* line 226, ../scss/site.scss */
#sidebar header h2 a {
  text-decoration: none;
  color: #c39302;
}
/* line 230, ../scss/site.scss */
#sidebar header h2 a:hover {
  text-decoration: underline;
  color: #50B1FF;
}
/* line 236, ../scss/site.scss */
#sidebar header .icon-tiny {
  width: 20px;
  height: 20px;
}
/* line 241, ../scss/site.scss */
#sidebar header .close {
  color: #c39302;
  font-size: 25px;
  text-shadow: 0px 2px;
  background: #F9CE4E;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
/* line 255, ../scss/site.scss */
#sidebar #route {
  display: none;
  padding: 10px;
  overflow: auto;
  color: #41403E;
  padding: 20px;
}
/* line 262, ../scss/site.scss */
#sidebar #route #enroute {
  text-align: center;
  font-weight: bold;
  border: 10px;
  height: 2em;
}
/* line 268, ../scss/site.scss */
#sidebar #route #enroute button.bolt-cancel {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.4);
  background-color: white;
  color: #F44;
  border: 1px solid #F44;
  margin-left: 10px;
}
/* line 278, ../scss/site.scss */
#sidebar #route ul#steps {
  list-style-type: decimal;
  margin-left: 10px;
}
/* line 282, ../scss/site.scss */
#sidebar #route ul#steps li {
  display: list-item;
  line-height: 1.1em;
}
/* line 285, ../scss/site.scss */
#sidebar #route ul#steps li .timebox {
  display: none;
  padding: 0 0 8px 0;
  height: 14px;
}
/* line 289, ../scss/site.scss */
#sidebar #route ul#steps li .timebox * {
  box-sizing: border-box;
}
/* line 292, ../scss/site.scss */
#sidebar #route ul#steps li .timebox .tracker-container {
  border-radius: 7px;
  height: 14px;
  background: #f2f2f2;
  overflow: hidden;
  margin: 8.5px 0;
  position: relative;
  width: 100%;
  display: black;
  min-height: 1em;
}
/* line 303, ../scss/site.scss */
#sidebar #route ul#steps li .timebox .tracker-container .package-status {
  width: 0;
  max-width: 100%;
  border-radius: 7px;
  position: absolute;
  top: 0;
  height: 100%;
}
/* line 312, ../scss/site.scss */
#sidebar #route ul#steps li .timebox .tracker-container .package-status.on-time {
  background: #008a00;
}
/* line 315, ../scss/site.scss */
#sidebar #route ul#steps li .timebox .tracker-container .delivery-dot {
  background: 0 0;
  border: 2px solid #008a00;
  right: 0;
}
/* line 321, ../scss/site.scss */
#sidebar #route ul#steps li .timebox .tracker-container .dot {
  border-radius: 7px;
  height: 14px;
  width: 14px;
  position: absolute;
  top: 0;
}
/* line 335, ../scss/site.scss */
#sidebar #route a {
  color: #408ECC;
}
/* line 339, ../scss/site.scss */
#sidebar #route strong {
  font-weight: bold;
  color: #41403E;
}
/* line 344, ../scss/site.scss */
#sidebar #route h4 {
  font-weight: bold;
  font-size: 16px;
  color: #41403E;
  margin: 0px 0px 10px 0px;
  line-height: 24px;
}
/* line 353, ../scss/site.scss */
#sidebar footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  border-top: 1px solid #EEE;
  background: #EFEFEF;
  line-height: 24px;
}
/* line 363, ../scss/site.scss */
#sidebar footer .equation {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
}
/* line 372, ../scss/site.scss */
#sidebar footer .equation .icon-small {
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}
/* line 378, ../scss/site.scss */
#sidebar footer .equation .twitter-share-button {
  margin: 0px 10px;
}

/* line 388, ../scss/site.scss */
.wrap {
  width: 70%;
  margin: 0 auto;
}
/* line 392, ../scss/site.scss */
.wrap .content-centered {
  padding-top: 65px;
  text-align: center;
}
/* line 396, ../scss/site.scss */
.wrap .content-centered .logo, .wrap .content-centered .soon {
  padding: 20 0px;
  color: #9bea0e;
  display: block;
  font: bold 30pt "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
  line-height: 30pt;
  margin: 0px auto;
  text-shadow: 0px 1px 0px rgba(155, 234, 14, 0.3);
}
/* line 406, ../scss/site.scss */
.wrap .content-centered img.logo {
  width: 50%;
  border-radius: 15px;
}
/* line 411, ../scss/site.scss */
.wrap .content-centered .signup {
  color: #fd7d17;
  font-size: 24pt;
  text-align: left;
  margin: 1em auto;
  width: 50%;
  min-width: 10em;
}
/* line 419, ../scss/site.scss */
.wrap .content-centered .signup .text-success {
  font-size: 16pt;
  font-style: italic;
}
/* line 424, ../scss/site.scss */
.wrap .content-centered .signup .signup-form {
  width: 100%;
}
/* line 427, ../scss/site.scss */
.wrap .content-centered .signup .signup-form #email-text, .wrap .content-centered .signup .signup-form #signup-button {
  margin: 0.5em auto;
  line-height: 24pt;
  font-size: 12pt;
  background: transparent;
  border: solid 2px rgba(16, 16, 16, 0.5);
  border-radius: 4px;
}
/* line 436, ../scss/site.scss */
.wrap .content-centered .signup .signup-form #email-text {
  width: 70%;
  min-width: 8em;
}
/* line 441, ../scss/site.scss */
.wrap .content-centered .signup .signup-form #signup-button {
  white-space: nowrap;
  color: #3cbaf2;
  width: 25%;
  min-width: 5em;
}
/* line 447, ../scss/site.scss */
.wrap .content-centered .signup .signup-form #signup-button :hover, .wrap .content-centered .signup .signup-form #signup-button :active {
  background-color: #3cbaf2;
  color: white;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
/* line 463, ../scss/site.scss */
.pulse {
  animation-name: pulse;
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

/* line 471, ../scss/site.scss */
.clearable {
  background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;
  /* Use the same right padding (18) in jQ! */
  border-radius: 3px;
  transition: background 0.4s;
}

/* line 478, ../scss/site.scss */
.clearable.x {
  background-position: right 5px center;
}

/* (jQ) Show icon */
/* line 479, ../scss/site.scss */
.clearable.onX {
  cursor: pointer;
}

/* (jQ) hover cursor style */
/* line 480, ../scss/site.scss */
.clearable::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

/* Remove IE default X */
/* line 485, ../scss/site.scss */
.homescreen {
  display: inline-block;
  width: 90%;
}
/* line 489, ../scss/site.scss */
.homescreen .row {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -10px;
  margin-bottom: 10px;
}
/* line 495, ../scss/site.scss */
.homescreen .row:last-child {
  margin-bottom: 0;
}
/* line 498, ../scss/site.scss */
.homescreen .block {
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: 21%;
  float: left;
  padding: 10px;
  margin: 1em 4%;
}
/* line 506, ../scss/site.scss */
.homescreen .block img {
  display: block;
  margin: 1em auto;
}
/* line 511, ../scss/site.scss */
.homescreen .shopping {
  background-color: #cadcff;
}
/* line 512, ../scss/site.scss */
.homescreen .movies {
  background-color: #edcaff;
}
/* line 513, ../scss/site.scss */
.homescreen .tv {
  background-color: #caffdc;
}
/* line 514, ../scss/site.scss */
.homescreen .games {
  background-color: #ffcadc;
}
/* line 515, ../scss/site.scss */
.homescreen .nap {
  background-color: #dcffca;
}
/* line 516, ../scss/site.scss */
.homescreen .ad {
  background-color: #ffedca;
}
/* line 517, ../scss/site.scss */
.homescreen #ad-block2 {
  display: none;
}
/* line 519, ../scss/site.scss */
.homescreen .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
/* line 530, ../scss/site.scss */
.homescreen .overlay:target {
  visibility: visible;
  opacity: 1;
}
/* line 536, ../scss/site.scss */
.homescreen #free-ride, .homescreen #no-delay {
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 2px solid black;
  display: none;
  position: absolute;
  width: 50%;
  top: 25%;
  left: 25%;
  font-size: 2em;
  margin: auto;
  padding: 20px;
  font-weight: bold;
  background: white;
  transition: all 5s ease-in-out;
}
/* line 552, ../scss/site.scss */
.homescreen #free-ride h2, .homescreen #no-delay h2 {
  margin: 2em;
  color: #333;
}
/* line 557, ../scss/site.scss */
.homescreen #free-ride h4, .homescreen #no-delay h4 {
  margin: 1em;
  color: #333;
}
/* line 562, ../scss/site.scss */
.homescreen #free-ride .close, .homescreen #no-delay .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
/* line 573, ../scss/site.scss */
.homescreen #free-ride .close:hover, .homescreen #no-delay .close:hover {
  color: #06D85F;
}
/* line 577, ../scss/site.scss */
.homescreen #free-ride .content, .homescreen #no-delay .content {
  max-height: 30%;
  overflow: auto;
}
/* line 583, ../scss/site.scss */
.homescreen #offer-screen, .homescreen #offer-nearby {
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: none;
  background-color: #ffedca;
  width: 90%;
  padding: 10px;
  margin: 1em 4%;
  position: relative;
  top: 0;
  left: 0;
}
/* line 595, ../scss/site.scss */
.homescreen #offer-screen .offer-details, .homescreen #offer-nearby .offer-details {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 65px;
  width: 30%;
  height: 90%;
  margin: 10px 0px;
  overflow: hidden;
  text-align: left;
}
/* line 608, ../scss/site.scss */
.homescreen #offer-screen h2, .homescreen #offer-nearby h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.25em;
}
/* line 613, ../scss/site.scss */
.homescreen #offer-screen i, .homescreen #offer-nearby i {
  margin-top: 0.25em;
  font-style: italic;
}
/* line 618, ../scss/site.scss */
.homescreen #offer-screen h4, .homescreen #offer-nearby h4 {
  margin-top: 1.2em;
  font-size: 1em;
  font-weight: bold;
}
/* line 623, ../scss/site.scss */
.homescreen #offer-screen p, .homescreen #offer-nearby p {
  margin: 1em;
}
/* line 627, ../scss/site.scss */
.homescreen #offer-screen .offer-image, .homescreen #offer-nearby .offer-image {
  width: 60%;
  display: block;
  margin: 1em auto;
}
/* line 633, ../scss/site.scss */
.homescreen #offer-screen .offer-image.small, .homescreen #offer-nearby .offer-image.small {
  position: relative;
  left: -15%;
  width: 50%;
}
/* line 639, ../scss/site.scss */
.homescreen #offer-screen .offer-button, .homescreen #offer-nearby .offer-button {
  -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 0px 0px 4px rgba(188, 188, 188, 0.5);
  -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 0px 0px 4px rgba(188, 188, 188, 0.5);
  box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.8) inset, 1px 1px 3px rgba(0, 0, 0, 0.2), 0px 0px 0px 4px rgba(188, 188, 188, 0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmODQwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNjYwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8400), color-stop(100%, #ff6600));
  background-image: -moz-linear-gradient(#ff8400, #ff6600);
  background-image: -webkit-linear-gradient(#ff8400, #ff6600);
  background-image: linear-gradient(#ff8400, #ff6600);
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding-left: 20px;
  padding-right: 65px;
  height: 45px;
  display: block;
  position: absolute;
  border: 1px solid #ff5a00;
  margin: 10px 0px;
  overflow: hidden;
  bottom: 5%;
  right: 5%;
}
/* line 655, ../scss/site.scss */
.homescreen #offer-screen .offer-button .offer-button-text, .homescreen #offer-nearby .offer-button .offer-button-text {
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding-top: 10px;
  display: block;
  font-size: 18px;
  white-space: nowrap;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
  color: #6e1d08;
}
/* line 665, ../scss/site.scss */
.homescreen #offer-screen .offer-button .offer-button-hidden-text, .homescreen #offer-nearby .offer-button .offer-button-hidden-text {
  -moz-box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  -webkit-box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  box-shadow: -1px 0px 1px rgba(255, 255, 255, 0.4), 1px 1px 2px rgba(0, 0, 0, 0.2) inset;
  -moz-transition: width 0.3s linear;
  -o-transition: width 0.3s linear;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
  position: absolute;
  height: 100%;
  top: 0px;
  right: 52px;
  width: 0px;
  background: #6e1d08;
  text-shadow: 0px -1px 1px #363f49;
  color: #fff;
  font-size: 18px;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: left;
  text-indent: 17px;
  overflow: hidden;
  line-height: 42px;
}
/* line 685, ../scss/site.scss */
.homescreen #offer-screen .offer-button .offer-button-image, .homescreen #offer-nearby .offer-button .offer-button-image {
  -moz-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
  -webkit-box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
  box-shadow: 1px 0px 1px rgba(255, 255, 255, 0.4) inset;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 52px;
  border-left: 1px solid #ff5a00;
}
/* line 694, ../scss/site.scss */
.homescreen #offer-screen .offer-button .offer-button-image span, .homescreen #offer-nearby .offer-button .offer-button-image span {
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  width: 38px;
  height: 38px;
  opacity: 0.7;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0px 0px -20px;
  background: transparent url(../images/cart.png) no-repeat 75% 55%;
}
/* line 707, ../scss/site.scss */
.homescreen #offer-screen .offer-button :hover .offer-button-text, .homescreen #offer-nearby .offer-button :hover .offer-button-text {
  text-shadow: 0px 1px 1px #5d81ab;
  color: #fff;
}
/* line 712, ../scss/site.scss */
.homescreen #offer-screen .offer-button :hover .offer-button-hidden-text, .homescreen #offer-nearby .offer-button :hover .offer-button-hidden-text {
  width: 100px;
}
/* line 716, ../scss/site.scss */
.homescreen #offer-screen .offer-button :hover .offer-button-image span, .homescreen #offer-nearby .offer-button :hover .offer-button-image span {
  opacity: 1;
}
/* line 720, ../scss/site.scss */
.homescreen #offer-screen .offer-button :active, .homescreen #offer-nearby .offer-button :active {
  background: #ff5a00;
}
/* line 726, ../scss/site.scss */
.homescreen .foot-spacer {
  display: inline-block;
  width: 100%;
  height: 75px;
}

/* line 736, ../scss/site.scss */
.progress {
  position: fixed;
  bottom: 1px;
  left: 3px;
  right: 3px;
  height: 75px;
  padding: 1px 3px 3px 3px;
  background-color: white;
}
/* line 745, ../scss/site.scss */
.progress .top {
  text-align: left;
  font-size: 17px;
  padding-left: 3em;
}
/* line 750, ../scss/site.scss */
.progress .top .latest-event-status {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  display: none;
}
/* line 757, ../scss/site.scss */
.progress .tracker-container {
  border-radius: 8px;
  height: 16px;
  background: #f2f2f2;
  overflow: hidden;
  margin: 5.5px 0;
}
/* line 764, ../scss/site.scss */
.progress .tracker-container .package-status {
  max-width: 100%;
  border-radius: 8px;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
/* line 772, ../scss/site.scss */
.progress .tracker-container .package-status.on-time {
  width: 17%;
  background: #008a00;
}
/* line 777, ../scss/site.scss */
.progress .tracker-container .delivery-dot {
  background: 0 0;
  border: 2px solid #008a00;
  right: 0;
}
/* line 782, ../scss/site.scss */
.progress .tracker-container .dot {
  border-radius: 8px;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0;
}
/* line 790, ../scss/site.scss */
.progress .bottom {
  font-size: 13px;
  font-weight: 700;
}
/* line 794, ../scss/site.scss */
.progress .bottom .delivery-status, .progress .bottom .ordered-status, .progress .bottom .shipped-status, .progress .bottom .will-ship-status {
  display: block;
  position: absolute;
  top: 0;
  background: #fff;
  white-space: nowrap;
}
/* line 801, ../scss/site.scss */
.progress .bottom .delivery-time, .progress .bottom .ordered-time, .progress .bottom .arrived-time, .progress .bottom .summary-text {
  font-weight: 400;
  display: block;
}
/* line 805, ../scss/site.scss */
.progress .bottom .ordered-status {
  left: 0;
  text-align: left;
}
/* line 809, ../scss/site.scss */
.progress .bottom .shipped-status {
  text-align: center;
  display: block;
  width: 10%;
}
/* line 814, ../scss/site.scss */
.progress .bottom .shipped-status .marker {
  position: absolute;
  top: -7px;
  left: 50%;
  margin-left: -10px;
  border: 10px solid transparent;
  border-top-color: #008a00;
}
/* line 823, ../scss/site.scss */
.progress .bottom .delivery-status {
  max-width: 400px;
  right: 3px;
  text-align: right;
  color: #008a00;
}
/* line 830, ../scss/site.scss */
.progress .bottom, .progress .top, .progress .tracker-container {
  position: relative;
  width: 100%;
  display: block;
  min-height: 1em;
}
/* line 836, ../scss/site.scss */
.progress * {
  box-sizing: border-box;
}
